# Exploring Google Search Console Data in Python
This time around we're going to explore marketing data gathered from Google Search Console.

Below is a data set created to be similar to a <a href="https://www.google.com/webmasters/tools/home?hl=en">Google Search Console</a> export. As always we're going open it, do our due diligence by exploring the data, tidy anything which needs so from there we'll start to chart out the data.

## Loading Library's

Don't forget you'll always need to load you libraries when working with pandas. If you'd don't do this you can't use the functionlaity.

In [1]:
#First, import pandas. You'll always need to do this. Also set the max rows and columns to None

### matplotlib and seaborn for drawing graphs
In the last workbook we learned about <a href="https://matplotlib.org/">`matplotlib`</a> and it's cousin <a href="https://seaborn.pydata.org/">Seaborn</a>. We'll be using these again.

In [1]:
#Load matplotlib and seaborn

In [2]:
#Load your data

______________________________________________________________________________________________________________________

# Exploring the data

As alwasys need to perform our minimum exploritory data analysis to understand what the data is made up of and what columsn contain numerical and non-numerical data.

In [3]:
# Top level breakdown of what type of data types there are and how many values are of each

In [4]:
#Another top level breakdown but this time of the numerical data and it's stats

In [6]:
searchdata.head()

,Unnamed: 0,Queries,Clicks,Impressions,CTR,Position
0,0,wedding dresses,2010,118845,1.69%,35.0
1,2,chunky silver necklace,720,70395,1.02%,4.1
2,3,girlfriend experience london,540,1800,30%,7.1
3,5,bridal dresses,225,20925,1.08%,34.0
4,6,designer wedding dresses,210,19875,1.06%,52.0

## Dropping uncessary Series (columns)
There's a column in the timeseries that we need to get rid of. Why? Because it's not of any value and is a distraction.

Using the <a href="https://pandas.pydata.org/pandas-docs/stable/missing_data.html#dropping-axis-labels-with-missing-data-dropna">`.drop`</a> function you can easily drop as many columns as you like in one click.

All you need to do copy and paste (or type ðŸ˜€) the Series names that you don't want from the list we produce using the `.columns` method. Set the `axis=` to '1', ensure that you've set `inplace=` to True and run the cell. `inplace=` overwrites the current view of the dataset so that the next time you call the data all the fields you dropped will no longer show.

In [5]:
#Drop uncessary series

In [6]:
#Check it worked

______________________________________________________________________________________________________________________

## Dealing unwanted characters
You might have notice when looking at `.info` that the CTR field is in fact an object as opposed to being numeric (it should be a float due to it's decimal points). It's classed as an Object because of % which Google Search Console produces when you export the data. The addtion of the % symbol means that the column is neither a float or integer.   

There are a few ways to deal with this problem. Either use `.replace` and replace the nussance character with nothing or calculate the CTR from Impressions and Clicks and store the output in the CTR field. We're going to use the latter, as it's simpler in this case but in other cases you may need to revert to the `.replace` function.

In [7]:
#calculate the Click Through Rate using Pandas and round to 2 decimal places

In [8]:
#Check it worked

______________________________________________________________________________________________________________________

In [9]:
#We now want to set an index for the data. As keywords are fix we'll use the Queries field.

In [10]:
#Now we sort the data by most clicks

______________________________________________________________________________________________________________________

## Lets draw some charts

Lets see if we can spot any patterns in a link chart.

In [11]:
#Draw a pandas scatter plot with impressions and position

In [12]:
#Draw a pandas scatter plot with clicks and position

In [13]:
#Draw a seaborn pairplot of the data

## Lets label the data
The pairplot above is a quick and simple way to visualise multiple variables however, it's just one colour and we can't really see any grouping from it.

In order to see clustering we'll need a way to group clicks by a defined criteria. Below I've created a reusable function that will label clicks based on whether: 

<ul>
<li>Low, below 20 clicks</li>
<li>Medium, below 100 clicks</li>
<li>High, 101 clicks or above</li>
</ul>

In [14]:
def tierclicks(x):
    if x <= 20:
        tier = "Low"
    elif x <= 100:
        tier =  "Medium"
    elif x >= 101 :
        tier = "High"
    return tier

In [17]:
#apply the function above to the clicks column, create a new colum for the data label

In [16]:
#check it worked

## Running the Pairplot again
We then plot the pairplot again but setting the colour change variable as the tier column (Low, Medium, High). Then we pick a Seaborn colour pallete that will apply colour to each label. I picked the one below because I like the colours ðŸ˜€

In [18]:
#Create a seaborn pairplot that labels the click data with the tier label create above

_____________________________________________________________________________________________________________________

## The Trusty Correlation
For good measure ( and practice) we're going to create and draw a correlation matrix using the search console data.

In [19]:
# use the pandas .corr() function to create a correaltion matrix

In [20]:
#check it worked

In [22]:
#Use Seaborn to draw the heatmap as in the facebook example. This time though, we're switching up the colours! cmap = sns.dark_palette("purple", as_cmap=True)

## Important Links

Twitter:            https://www.twitter.com/nickduddy<br>
Instragram:     https://www.instagram.com/thedataboi<br>
Facebook:       https://www.facebook.com/thenickduddy<br>
Github:           https://www.github.com/thedataboi<br>
Web:                http://databoi.com<br>